@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: 2px solid red; */
    text-decoration: none;
    transition: .2s linear;
}
.container{
    padding-bottom: 10px;
    padding-top: 30px;
    justify-content: center;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0,0,0,0,.2);
    font-size: 50px;
    color: darkblue;
    font-weight: 400;
}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 25px;
}

.container .recruiters{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 12px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}
.container .box-container .box img{
    height: 180px;
}
.rBox img{
    height: 100%;
    width: 100%;
}
.container .heading .box h3{
    color: darkgray;
    font-size: 22px;
    padding: 10px 0;    
}
.container .heading .box p{
    color: darkgray;
    font-size: 15px;
    line-height: 1.8;
}
.container .heading .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: #171717;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}
.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}
@media(max-width:100vw){
    .container{
        padding: 20px;
    }
}